github rethinkdb/rethinkdb:next src/rdb_protocol/ql2.proto

source https://nuget.org/api/v2

nuget BouncyCastle

group Build
source https://nuget.org/api/v2

nuget FAKE
nuget xUnit.Runner.Console
nuget OpenCover
nuget secure-file
nuget Brutal.Dev.StrongNameSigner
nuget DotNetZip

github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
source https://nuget.org/api/v2

nuget FsUnit.xUnit