github rethinkdb/rethinkdb:next src/rdb_protocol/ql2.proto

group Build
source https://nuget.org/api/v2

nuget FAKE
nuget xUnit.Runner.Console
nuget OpenCover
nuget System.Management.Automation

group Test
source https://nuget.org/api/v2

nuget FsUnit.xUnit